* {
   font-family:  secondary-font-bold, notosans-bold, sans-serif;
}
body{
    margin: 0;
    height: 4000px;
}
.header{
    padding: 0;
    font-family: secondary-font-bold, notosans-bold, sans-serif;
}
.row1{
    background-color: rgb(0, 0, 0);
    height: 50px;  
    justify-content: end;
    margin-bottom: 0;

}
.row2{
    /* background-color: rgb(219, 127, 127); */
    height: 64px;
    position: relative;

   
}

.col-4,.col-5{
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    margin-right: 60px;
    min-width: 480px;
}
.col-5{
    
    justify-content: start;
    min-width: 480px;
    max-width: 480px;
}
.h1nav{
    color: white;
    font-size: 12.5px;
    margin-right: 35px;
    font-weight: 500;
    cursor: pointer;
}
.h2nav{
    color: rgb(0, 0, 0);
    font-size: 15px;
    margin-right: 22px;
    font-weight: 700;
    cursor: pointer;
    letter-spacing: 0.01px;
}
.hnav :hover{
    text-decoration: underline;
}
.h2nav:hover{
    color: white;
    background-color: black;
    height: 64px;
    padding-top: 20px;
}
.right-sec img{
    height: 12px;
    width: 12px;
    margin-right: 3px;
}
.navbar-brand img{
    height: 49px;
    margin-left: 68px;
}


.row2-rightsec{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 140px;
    
}
.search-box{
    border: 1px solid black;
    border-radius: 3px;
    width: 170px;
    height: 35px;
    padding: 6px 0 0 10px ;
    
}

.search-box1{
    display: flex;
    flex-direction: column;
    
    .bx{
        margin-left: 11px;
        font-size: 23px;
        font-weight: 700;        
    }
}


.material-symbols-outlined {
    margin-left: 7px;
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.signin-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 25px;
}
.s-text{
    font-size: 13.5px;
    color: rgba(0,0,0,.6);
}

.sec1{
    position: relative; 
}
.backimg img{
    width: 100%;
    height: auto;
}
.backimg-textbox{
    position: absolute;
    top: 110px ;
    left: 100px;
    /* background-color: aqua; */
   
    
}
.backimg-t1{
    color: aliceblue;
    font-size: 1.85rem;
    font-weight: 800;
    word-break: break-word;
}
.backimg-t2{
    color: rgb(255, 255, 255);
    font-size: 1rem;
    word-break: break-word;
    line-height: 2.2;
}
.backimg-button{
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    background-color: black;
    display: inline;
    padding: 9px 12px 9px 12px;
    cursor: pointer;
    line-height: 5;
}
h2 sup{
    font-size: 18px;
}

.sec2{
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;

}
.det{
    /* background-color: blue; */
    display: inline-block;
    margin-right: 20px;
    border-right: 2px solid black;
    padding-right: 10px;
    font-size: 17px;
    font-weight: 700;
}
.det:hover{
    color: rgb(250, 102, 0);
}
.sec3{
    background-color: rgb(238, 236, 235);
    padding-top: 25px;
    padding-bottom: 25px;
}
.sec3-head{
    height: 50px;
}
.sec3-head-text{
    font-size: 1.8rem;
    font-weight: 800;
    color: #000;
    line-height: 1.1;
    /* background-color: aqua; */
}
.sec3-body{
    height: 600px;
    /* background-color: blueviolet; */
}


.dis-img img{
    max-width:100%;
    cursor: pointer;
    margin-right: 2px;
}
.dis-bikename{
    /* background-color: aqua; */
    margin-top:10px ;
    font-size: 17.5px;
    font-weight: 700;
    cursor: pointer;
}
.dis-details{
    display: flex;
    max-width: 300px;
    min-height: 117px;
    font-size: 17px;
    font-weight: 500;
    line-height:1.5;
    /* background-color: aqua; */
}
.sec3-seebike{
    font-size: 17px;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    /* background-color: aqua; */
    cursor: pointer;
}
.sec3-seebike:hover{
    .arrow{
        margin-left: 14px;
    }
}

.sec4{
    align-content: center;
    margin-top: 30px;
    max-height: 445px ;
    position: relative;
}
.sec4 img{
    max-width: 100%;
    height: auto;
    cursor: pointer;
}
.sec4-right{
    display: flex;
    align-items: center;
}
.sec4-det1{
    letter-spacing: 0;
}
.sec5{
    margin-top: 60px;
    /* background-color: yellow; */
}
.sec5 img{
    width: 100%;
}
.sec6{
    background-color: #000;
}
.sec6-det{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sec6-ann{
    font-size: 26px;
    font-weight: 900;
}

.list-unstyled{
    text-decoration: none;
    line-height: 40px;
}

.form-label{
    margin-top: 5px;
}

.btn-outline:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
}

.p11{
    font-size: 34px;
    font-weight: 700;
    margin: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.form-control{
    margin-top: 10px;
}
.btn-subs{
    margin-top: 10px;
}

.backimg-button{
    background-color: rgb(250, 102, 0);
    padding: 5px 40px;
}

@media(max-width:1000px)
{
    .sec6-det{
        margin-top: 15px;
    }
    .sec5{
        margin-top: 9rem;
    }
    .right-sec,.left-sec{
        display: none;
    }
    .row1{
        height: 36px;
    }
    .navbar-brand img{
        height: 32px;
        margin-left: 20px;
    }
    .backimg-textbox{
        height:100%;
        padding: 20px;
        top: 0;
        left: 0;
        background-color: black;
        .backimg-button{
            background-color: white;
            color: black;
        }
    }
    .sec2-det{
        width:500px;
        line-height: 2;
        justify-content: center;
        align-items: center;
    }
    
}
@media(max-width:768px)
{
    footer{
        margin-top: 80rem;
    }
    .backimg-textbox{
        position: relative;
        width: 100%;
        height: 156px;
    }
  .sec3{
    background-color: transparent;
  }
  .sec6-buy{
    margin-bottom: 30px;
    margin-top: -20px;
  }
  .sec4{
    margin-top: 95rem;
  }
  .sec5{
    margin-top:2rem;
  }
}
@media(width>1120px)
{
    .search-box1{
        display: none;
    }
}
@media(max-width:1120px){
    .search-box{
        display: none;
    }
   
}
@media(width<600px)
{   
    .sec2{
        height: auto;
    }
    .sec2-det{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 25px;
    }
    .det{
        display: inline;
        line-height: 3;
        border: none;
        /* background-color: bisque; */
        margin: 0;
        padding: 0;
    }
}

